$break-small: 576px;     /* Small*/
$break-medium: 768px;     /* Medium */
$break-large: 992px;     /* Large */
$break-extra-large: 1200px;   /* Extra large*/

/* MOBILE FIRST*/
/* All*/
body {
  font-family: Inter;
  color: #797283;

  p {
    font-family: Inter;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family:  Inter;
    line-height: 43px;
    color: #1E1C21;
  }

  a {
    color: #8953B7;

    &:hover, &:active {
      color: #8953b7;
    }
  }
 
 /* Header*/
 header { 
  background-color: #ffffffb5;

  position: fixed;
    width: 100%;
    z-index: 9998;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.1s ease;
    -o-transition: opacity 0.1s ease;
    transition: opacity 0.1s ease;
  
   .phone_icon {
    position: absolute;
    display: inline-block;
    margin: 30px 0 0 50px;
  
  }
  .menu_button{
    position: absolute;
    right: 40px;
    top: 20px;
    z-index: 9999;
    background-color: blue;
    width: 10px;
    height: 10px;
  }

   a::after {
    
    content:"050-590-89-78";
    color: rgb(185, 118, 118);
    font-size: 1rem;
    /* padding-top: 2rem; */
    display: inline-block;
    position: absolute;
    /* width: auto; */
    margin-left: 1rem;
    margin-top: 0.2rem;
    width: 200px;
  
  }
  .center_logo {
 

  text-align: center;  
  .logocen {

    width: 10px;
    background-color: blue;
    display: inline-block;
    padding: 30px 0;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 3.2rem;
    line-height: 2rem;
    color: #fff;
    font-weight: 200;
    margin-top: 2rem;

  }
  }

}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* Media sm*/
  @media screen and (max-width: $break-small) {
    .col-6.first {
      order: 1;}
    }

}